In [6]:
import pandas as pd
data = pd.read_csv('teams_stats.csv')
data

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
teams = data['Tm']
teams.nunique()

69

In [8]:
count = []
for team in teams:
    if team not in count and team != '':
        count.append(team)
count

['FTW',
 'INO',
 'CHS',
 'TOT',
 'DNN',
 'NYK',
 'TRI',
 'AND',
 'PHW',
 'WAT',
 'SHE',
 'ROC',
 'BLB',
 'MNL',
 'SYR',
 'WSC',
 'BOS',
 'STB',
 nan,
 'MLH',
 'STL',
 'DET',
 'CIN',
 'LAL',
 'CHP',
 'SFW',
 'CHZ',
 'BAL',
 'PHI',
 'CHI',
 'SDR',
 'SEA',
 'MIL',
 'ATL',
 'PHO',
 'POR',
 'CLE',
 'BUF',
 'HOU',
 'GSW',
 'KCO',
 'CAP',
 'NOJ',
 'WSB',
 'KCK',
 'IND',
 'NYN',
 'DEN',
 'SAS',
 'NJN',
 'SDC',
 'UTA',
 'DAL',
 'LAC',
 'SAC',
 'CHH',
 'MIA',
 'ORL',
 'MIN',
 'VAN',
 'TOR',
 'WAS',
 'MEM',
 'NOH',
 'CHA',
 'NOK',
 'OKC',
 'BRK',
 'NOP',
 'CHO']

In [9]:
len(count)

70

In [10]:
data = pd.read_csv('Mountains.csv')
ParMount = data['Parent mountain']
counts = {}

In [11]:
for key in ParMount:
    counts[key]=0

In [12]:
for index in ParMount:
    for key, value in counts.items():
        if index == key:
            counts[key] += 1

In [13]:
total_result = {}
for key, value in counts.items():
    if value > 3:
       total_result[key] = value

In [14]:
total_result

{'Mount Everest': 9,
 'K2': 5,
 'Cho Oyu': 7,
 'Dhaulagiri': 4,
 'Gasherbrum I': 8,
 'Distaghil Sar': 5,
 'Kangchenjunga': 7,
 'Shisha Pangma': 4}